html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 15px;
}

.w-100 {
  width: 100%;
}

.float-left {
  float: left;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}