
:host {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
md-card {
    max-width: 600px;
}
md-card-title-group {
    margin-left: 0;
}

img {
    width: 120px;
    min-width: 120px;    
    margin: 0 15px !important;
}

li {
    list-style-type: none;    
}

md-card-content {
    margin: 15px 0 50px;
}
md-card-actions {
    margin: 25px 0 0 !important;
}
md-card-footer {
    padding: 0 25px 25px;
    position: relative;
}